.category-container {
  padding: 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
  .header {
    font-size: 22px;
    font-family: "Overpass-Bold";
    padding-bottom: 20px;
  }
  .grid-list {
    flex: 1;
  }
  .category-list {
    padding-top: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

}
